<form [formGroup]="editForm" (ngSubmit)="onSubmit()">

    <div class="p-field p-grid input">
        <label for="courses" class="p-col-fixed" style="width:100px">Courses</label>

        <p-multiSelect [style]="{'width':'200px'}" formControlName="courses" [options]="courses"
            [ngClass]="{ 'is-invalid': submitted && form.courses.errors }">
            <ng-template let-selectedCourse pTemplate="selectedItems">
                <span *ngFor="let course of selectedCourse">{{course.title}}, </span>
            </ng-template>
            <ng-template let-course pTemplate="item">
                <span>{{course.label}}</span>
            </ng-template>
        </p-multiSelect>

        <div *ngIf="submitted && form.courses.errors" class="invalid-feedback">
            <div *ngIf="submitted && form.courses.errors.required">Select atleast one course</div>
        </div>
    </div>

    <p-button label="Update student" type="submit" class="submit-button"></p-button>
</form>

<p-button label="Cancel" value="cancel" class="cancel-button" (click)="dismiss()" styleClass="ui-button-warning">
</p-button>